@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
body{
    font-family: 'Poppins',
    sans-serif;
}
/* -------------------------------common styles------------------------------ */
.blue-color {
    color: #183153;
}
.orange-color {
    color: #fe6f27;
}
.btn{
    background-color: #183153;
    color: white;
    border-radius: 20px;
}
.input-field{
    border-radius: 20px;
    border: 1px solid #183153;
}
#not-found-msg{
    background-color: #2f2f2f;
    width: 60%;
    border-radius: 5px;
    display: none;
}
#empty-text-msg{
    background-color: #2f2f2f;
    width: 60%;
    border-radius: 5px;
    display: none;
}
/* #see-all-device{
    display: none;
} */

/* ------------------------------media queary for small device----------------------------- */
@media only screen and ( min-width: 1px) and (max-width: 576px){
    .width-for-sm {
        width: 80%!important;
    }
    .sm-device{
        display: flex;
        margin: 0;
        padding: 0;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        
    }
    .sm-gap{
        margin: 10px 0px;
        padding: 10px 5px 5px 8px;
    }
}





