@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
body{
    font-family: 'Poppins',
    sans-serif;
}

.blue-color {
    color: #183153;
}
.text-color2{
    color: #146ebe;
}
.orange-color{
    color: #fe6f27;
}
.deep-color{
    color: #2f2f2f;
}
.btn{
    background-color: #183153;
    color: white;
    border-radius: 20px;
}
.input-field{
    border-radius: 20px;
    border: 1px solid #183153;
}
#not-found-msg{
    background-color: #2f2f2f;
    width: 60%;
    border-radius: 5px;
    display: none;
}
#empty-text-msg{
    background-color: #2f2f2f;
    width: 60%;
    border-radius: 5px;
    display: none;
}
